  <h1>Listing posts</h1>
  <div id="search_field" >
    <%= search_form_for @search,  :id => "search_form"  do |f| %>
      <div id="field">
        <%= f.text_field :date_cont , :id  => 'search_box' %>
        </div>
        <%= f.submit %>
        <% end %>
   </div>
 
   


  <div id="image">
   <%= render 'image' %>
  </div>


<%= link_to 'New Post', new_post_path %>
<%= link_to 'home', posts_path %>
            



<script type="text/javascript">
  $('#search_box').glDatePicker(
      {
          showAlways: true,
          allowMonthSelect: true,
          allowYearSelect: true,
          prevArrow: '\u25c4',
          nextArrow: '\u25ba',
           onClick: function(target, cell, date, data) {
                     target.val(date.getFullYear() +'-'+
                      (date.getMonth()+1) +'-'+
                      date.getDate());
                      if(data != null) {
                      alert(data.message + '\n' + date) 
                    }+  $('#search_form').submit();     
                 }
           //  cssName: 'flatwhite'
          //cssName: 'darkneon'
       });
</script>